@page "/"

<PageTitle>SolusWeb</PageTitle>

<div class="text-neutral-200 font-semibold h-screen flex items-center justify-center">
    <div class="max-w-sm text-balance text-justify">
        Hi. I'm <b>Solus Gameolous</b>. You can call me Solus. I'm a digital marketer enthusiast and
        computer aficionado, I'm on a quest to conquer the realms of C#, HTML, and CSS.
        <br />
        With a moniker that conjures images of a mystical feline wielding a wand in one paw and a
        ripe avocado in the other, he navigates the digital jungle with the kindergarten level of a
        coder and the skills of a marketer.
        <br />
        As for lions, did you know that a lion's roar can be so thunderous it can be heard up to
        8.04672 kilometers away? Imagine if they had social media — their posts would literally go viral
        with every roar!
    </div>
</div>

<div class=""></div>